#app-mount::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://files.catbox.moe/bcma7k.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}
